*.iml
.gradle
/local.properties
.DS_Store
/build
/captures


# Android Studio
#http://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
!.idea/
.idea/*
!.idea/scopes/
*.ipr
*.iws
*.iml

# Log Files
*.log